@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <a href="/V3">V3 Demo</a>
</div>
<div>
    <a href="/V3Programmatically">V3 Programmatically Demo</a>
</div>
<div>
    <a href="/V2Invisible">V2_Invisible Demo</a>
</div>
<div>
    <a href="/V2Checkbox">V2_Checkbox Demo</a>
</div>
