@page
@using Framework.Integrations.Recaptcha.V2.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model V2CheckboxModel
@{
    ViewData["Title"] = "V2 Checkbox";
}

<pre>@Model.Result</pre>

<recaptcha-script-v2/>

<form method="POST">
    <input id="token" name="token" type="text"/>
    <input id="submit" type="submit" value="submit" disabled="disabled"/>
</form>

<script>
    function callback(token) {
        document.getElementById("token").value = token;
        document.getElementById("submit").disabled = false;
    }
</script>

<recaptcha-div-v2 callback="callback"/>